* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to top, #ad5389, #3c1053);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  font-family: "Roboto", sans-serif;
  background: transparent;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 2rem;
  padding: 1rem 2rem;
  background: transparent;
}

.navLinks {
  gap: 20px;
  display: flex;
}

.navBtn {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navBtn:hover {
  color: rgb(6, 223, 212);
  transform: scale(1.1);
  transition: 0.3s;
  background: linear-gradient(to top, #ad5389, #3c1053);
  cursor: pointer;
}

.homeLink {
  background: transparent;
}

.navImg {
  width: 80px;
  height: 80px;
  background: transparent;
}

.navImg:hover {
  transform: scale(1.1);
  transition: 0.3s;
  background: transparent;
}

/* Home Page */
.homeHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 2rem;
  background: transparent;
}

.homeHeader h1 {
  font-size: 4rem;
  color: white;
}

.homeHeader p {
  font-size: 2rem;
  color: white;
}

.homeContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.homeContent h2 {
  font-size: 2rem;
  color: white;
}

.homeContent p {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  line-height: 1.5;
}

.homeImg {
  width: 100%;
  max-width: 300px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.582);
  border-radius: 5px;
}

.homeContent ul {
  list-style: square;
  font-size: 1.5rem;
  color: white;
  line-height: 1.5;
}

.homeHero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 2rem;
  background: transparent;
}

/* Login/Sign Up page */

.accountForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto;
  background: #ad5389;
}

.accountForm p {
  font-size: 2rem;
  color: #06dfd4 !important;
  background: transparent;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.63) !important;
}

.accountForm h1 {
  font-size: 2rem;
  color: white;
  background: transparent;
}

.accountForm input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid rgb(54, 0, 52);
  background: white;
}

.accountForm button {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #71306d;
  border: 2px solid rgb(54, 0, 52);
}

.accountForm button:hover {
  color: rgb(6, 223, 212);
  transform: scale(1.1);
  transition: 0.3s;
  background: #3c1053;
  cursor: pointer;
}

.accountForm p {
  font-size: 1rem;
  color: white;
}

.formInfo {
  display: flex;
  gap: 10px;
  background: transparent;
}

.formInfo p {
  font-size: 1rem;
  color: white;
  background: transparent;
}

.formInfo a {
  font-size: 1rem;
  color: #3c1053;
  background: transparent;
  text-decoration: none;
}

.formInfo a:hover {
  color: #06dfd4;
  transform: scale(1.1);
  transition: 0.3s;
}

.error {
  color: red;
  font-weight: bold;
  background: transparent;
  font-size: 1.5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.redirectModal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 5px;
  max-width: 500px;
  margin: 2rem auto;
  background: #ad5389;
}

.redirectModal h1 {
  font-size: 2rem;
  color: white;
  background: transparent;
}

.redirectModal p {
  font-size: 1.5rem;
  color: white;
  background: transparent;
}